{% extends "base.html" %}
<!--Inherit variables from other templates-->
{% block title %} Login - Helio {% endblock %}
{% block content %}  
<div class="container">


<main class="form-signin ">
  <form class="mt-5">
    
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control " name="email" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="password" class="form-control " name="password" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-success" type="submit">Sign in</button>
    <br>
    <hr>
    <p>You Don't have an account ? <a href="/signup">Signup</a></p>
    <p class="mt-5 mb-3 text-muted">© 2017–2025</p>
  </form>
</main>
</div>

{% endblock %}