{% extends "base.html" %}
<!--Inherit variables from other templates-->
{% block title %} Login - Helio {% endblock %}
{% block content %}  
<div class="container">


<main class="form-signin ">

  <form class="mt-5" method="POST">
    
    <h1 class="h3 mb-3 fw-normal">Please sign Up with Helio</h1>

    <div class="form-floating">
      <input type="email" class="form-control " name="email" id="floatingInput" placeholder="name@example.com" autofill="false" autocomplete="false">
      <label for="floatingInput">Email address</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="text" class="form-control " name="username" id="floatingInput" placeholder="@name" autofill="false" autocomplete="false">
      <label for="floatingInput">Username</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="password" class="form-control " name="password" id="floatingPassword" placeholder="Password" autofill="false" autocomplete="false">
      <label for="floatingPassword">Password</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="password" class="form-control " name="repeatpassword" id="floatingPassword" placeholder="Password" autofill="false" autocomplete="false">
      <label for="floatingPassword">Repeat Password</label>
    </div>


    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
    <br>
    <hr>
    <p>You Already have an account ? <a href="/login">Login</a></p>
    <p class="mt-5 mb-3 text-muted">© 2017–2025</p>
  </form>
</main>
</div>

{% endblock %}